@mixin flex(
  $direction: row,
  $justifyContent: flex-start,
  $alignItems: stretch,
  $flexWrap: nowrap,
  $height: auto,
  $width: 100%
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-wrap: $flexWrap;
  width: $width;
  height: $height;
}
