@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import "functions";

$font-inter: "Inter", sans-serif;
$body-bg: #F3F5F9;
$purple: #9765d8;
$white: #fff;
$header-bg: #17223e;
$gray-line: #dcdde0;
$header-bg-selected: #1a2c4c;
$header-bg-unselected: #131d35;
$orange-selected-hover: #ec2c13;
$line: rgba(255, 255, 255, 0.1);
$stem-width: rem(10);


