@import "reset";
@import "variables";
@import "functions";
@import "mixins";

* {
  box-sizing: border-box;
}

body {
  background: $body-bg;
  font-family: "Inter", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: rem(100);
  background-color: $header-bg;
  h1 {
    font-size: rem(40);
    font-weight: 800;
    color: $white;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  .game {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: rem(500);
    // purpose: styles for the disks of the tower of hanoi
    .tower {
      position: relative;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      width: calc(100% / 3);
      height: rem(500);
      border-radius: rem(8);
      &::after {
        content: "";
        position: absolute;
        left: 25%;
        width: 50%;
        height: rem(8);
        background: $gray-line;
        border-radius: rem(8);
        //sombra apenas embaixo
    
      }


      .tower-stem {
        z-index: 0;
        position: absolute;
        bottom: 0;
        left: calc(50% - $stem-width / 2);
        width: $stem-width;
        height: rem(500);
        background: $gray-line;
        border-radius: rem(8);
        margin: 0 auto;

        &.animate {
          animation: tower-animation 0.5s infinite alternate;
        }

        @keyframes tower-animation {
          from {
            background-color: white;
          }
          to {
            background-color: lightgreen;
          }
        }
      }
    }
    .disc {
      z-index: 2;
      height: rem(50);
      border-radius: rem(8);
      margin: rem(5) auto;
      transition: all 0.2s;
      background: randomColor();

      &:hover {
        transform: scale(1.1);
      }
      &:active {
        transform: scale(0.95);
      }
      &.disc-1 {
        background: randomColor() !important;
        width: rem(50);
      }
      &.disc-2 {
        background: randomColor();
        width: rem(100);
      }
      &.disc-3 {
        background: randomColor();
        width: rem(150);
      }
      &.disc-4 {
        background: randomColor();
        width: rem(200);
      }
      &.disc-5 {
        background: randomColor();
        width: rem(250);
      }
      &.disc-6 {
        background: randomColor();
        width: rem(300);
      }
      &.disc-7 {
        background: randomColor();
        width: rem(350);
      }
      &.disc-8 {
        background: randomColor();
        width: rem(400);
      }
    }
  }
  .data-moves {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    height: 30vh;
    width: 100%;
    height: rem(100);
    margin-top: rem(50);
    padding-left: rem(90);
    padding-right: rem(75);
    p {
      font-size: rem(20);
      font-weight: 800;
      color: $header-bg;
    }
    .select-discs {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: rem(400);
      label {
        width: rem(200);
        height: rem(30);
        border-radius: rem(30);
        font-size: rem(20);
        font-weight: 800;
        font-family: "Inter", sans-serif;
        color: $header-bg;
        padding: rem(5);
      }
      select {
        width: rem(200);
        height: rem(50);
        border-radius: rem(30);
        font-size: rem(20);
        font-weight: 800;
        font-family: "Inter", sans-serif;
        color: $header-bg;
        padding: rem(5);
        cursor: pointer;
        background-color: #f1f1f1;
      }
    }
  }
}
.modal {
  color: $header-bg;
  background-color: $white;
  width: rem(800);
  height: rem(400);
  display: flex;
  .modal-content{
    font-weight: 800;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    .lose{
      color:red;
    }
    .win{
      color:green;
    }
  }

}

button {
  width: rem(120);
  height: rem(60);
  border-radius: rem(15);
  font-size: rem(20);
  font-weight: 800;
  color: $white;
  background: $header-bg !important;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    background: $header-bg-selected;
    width: rem(130);
    height: rem(65);
  }
  &:active {
    background: $header-bg-unselected;
    width: rem(120);
    height: rem(60);
  }
}